@import 'utilities/shared_panel_login_signup_styles'

#send-reset, #change-password
  background-color: $background-gray
  height: 100%
  padding-top: 42px

#back-link
  line-height: 34px
  text-decoration: underline