javascript:
  var locale = "#{I18n.locale.to_s}";
  var __lc = {};
  __lc.license = 3245222;
  __lc.group = locale == 'en' ? 7 : 8;
  console.log('group: ' + __lc.group);

  (function () {
    var lc = document.createElement('script');
    lc.type = 'text/javascript';
    lc.async = true;
    lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
  })();